
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 270px;
}

footer.footer{
    padding: 15px; 
    position: absolute;
    bottom: 0; // position en bas de la page
    width: 100%;
}

.privacy-policy {
    h1, h3 {
        font-family: $headings-font-family; // Utilisation correcte de la variable pour la police
        color: $secondary;                  // Utilisation correcte de la couleur vert foncé pour les titres
    }
    p, a {
        font-family: $font-family-base;     // Utilisation correcte de la variable pour la police de base
    }
    a {
        color: $primary;                    // Utilisation correcte de la couleur pour les liens
        &:hover {
            color: $secondary;                   // Couleur au survol des liens
        }
    }
}

.justify-text {
    text-align: justify;
}