

@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position:relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
   // padding: 15px; 
    position: relative;
    bottom: 0; // position en bas de la page
    width:100%;

}

p, a {
    font-family: $font-family-base;     // Utilisation correcte de la variable pour la police de base
}

.privacy-policy {
    h1, h3 {
        font-family: $headings-font-family; // Utilisation correcte de la variable pour la police
        color: $secondary;                  // Utilisation correcte de la couleur vert foncé pour les titres
    }

    a {
        color: $primary;                    // Utilisation correcte de la couleur pour les liens
        &:hover {
            color: $secondary;                   // Couleur au survol des liens
        }
    }
}

.justify-text {
    text-align: justify;
}

.list-inline-item a:hover {
    color: #6DC066 !important; /* Couleur primaire au survol */
}

#habitats{
    background-color: #A47551;
    h3{
        color: #2E86C1;
    }

    .card{
        background-color: #F5F5DC
    }
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  /* Style pour les etoiles */
.stars {
    font-size: 1rem; /* Adjusted to make stars smaller */
  }
  
  .stars i {
    margin: 0 2px;
  }


// Define hover effect for the card
.hover-card {
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;

    // Default card background color
    background-color: #f8f9fa;  // Light color for the card

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);  // Apply black tint with 0.3 opacity
        transform: scale(1.05);  // Slightly increase the size on hover
        cursor: pointer;
    }
}

// Ensure the card text remains visible and unaffected by hover
.card-title, .card-text {
    transition: color 0.3s ease-in-out;
    color: #000;  // Default black text color for both title and paragraph

    .hover-card:hover & {
        color: #000;  // Keep text color black on hover (no color change)
    }
}

// Make the entire card clickable (no underlined text)
.card-link {
    text-decoration: none;

    .hover-card {
        color: inherit;  // Inherit text color from card
    }

    &:hover {
        text-decoration: none;  // Remove text underline on hover
    }
}


.animate-image {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
