

@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position:relative;
    min-height: 100%;
}

main{
    margin-bottom: 250px;
}

footer.footer{
   // padding: 15px; 
    position: relative;
    bottom: 0; // position en bas de la page
    width:100%;

}

p, a {
    font-family: $font-family-base;     // Utilisation correcte de la variable pour la police de base
}

.privacy-policy {
    h1, h3 {
        font-family: $headings-font-family; // Utilisation correcte de la variable pour la police
        color: $secondary;                  // Utilisation correcte de la couleur vert foncé pour les titres
    }

    a {
        color: $primary;                    // Utilisation correcte de la couleur pour les liens
        &:hover {
            color: $secondary;                   // Couleur au survol des liens
        }
    }
}

.justify-text {
    text-align: justify;
}

.list-inline-item a:hover {
    color: #6DC066 !important; /* Couleur primaire au survol */
}

#habitats{
    background-color: #A47551;
    h3{
        color: #2E86C1;
    }

    .card{
        background-color: #F5F5DC
    }
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  .testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
  }

  /* Style pour les etoiles */
.stars {
    font-size: 1rem; /* Adjusted to make stars smaller */
  }
  
  .stars i {
    margin: 0 2px;
  }